<section>
    <div class="container">
       
        <table class="table table-striped mt-4">
            <thead>
                <tr>
                    
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">User ID</th>
                    
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                <tr>
                    
                    <td>{{this.name}}</td>
                    <td>{{this.email}}</td>
                    <td>{{this._id}}</td>
                    
                    
                    
                </tr>
                {{/each}}
                
            </tbody>
        </table>

        

        
    </div>
</section>